.form-edit {
  display: flex;
  flex-wrap: wrap;
}
.form-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 47%;
}
.form__main-info {
  margin-right: 30px;
}
.form-control {
  margin-bottom: 15px;
  padding: 7px 5px;
  border: 1px solid #ecf0f1;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  outline: none;
  color: #2c3e50;
}
.form-control:focus {
  border: 1px solid #16a085;
  box-shadow: 0 0 2px #16a085;
}

::-webkit-input-placeholder {
  color: #bdc3c7;
}
::-moz-placeholder {
  color: #bdc3c7;
}
:-ms-input-placeholder {
  color: #bdc3c7;
}
:-moz-placeholder {
  color: #bdc3c7;
}