.item-plank {
  margin-bottom: 25px;
  padding: 15px;
  box-shadow: 0 1px 3px -1px #000;
  border-bottom: 3px solid #76bdaf;
  border-radius: 3px;
}
.post-item__heading {
  margin: 5px 0;
  color: #2c3e50;
}

.post__info {
  display: flex;
  margin: 0 0 15px;
  font-size: 13px;
  color: lightslategray;
}
.post_bold {
  font-weight: bold;
}
.post__create {
  margin-right: 25px;
}
.post__text {
  margin-bottom: 15px;
}
.post__remove {
  margin-right: 15px;
}