body {
  font: 1rem/1.32 'Ubuntu', sans-serif;
  color: #2c3e50;
}
.wrapper {
  margin: 0 auto;
  max-width: 800px;
}
.btn {
  display: inline-block;
  padding: 7px 20px;
  background: #76bdaf;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  outline: none;
}
.btn__small {
  font-size: 14px;
}
.danger {
  background: #d35400;
}
.header {
  padding: 15px 0;
  display: flex;
  align-items: center;
}
.logo {
  max-width: 150px;
}
.logo img {
  max-width: 100%;
}
.top-nav {
  margin-left: auto;
}
.top-nav__item {
  display: inline-block;
}
.top-nav__item a {
  display: block;
  padding: 0 15px;
  border-left: 1px dashed lightslategray;
  color: #2c3e50;
  text-decoration: none;
}
.top-nav__item:first-child a {
  border-left: none;
}
.top-nav__item a.active {
  color: #16a085;
}
.editor{
  border: 1px solid #eee;
  margin: 10px 0 20px;
  padding: 0 10px;
}

